v1/config/elasticsearch/*.yml
v1/config/dpla.yml
v1/config/couchdb.ini
config/database.yml
tmp/
var/
vendor/bundle/
logs/
public/assets/
pgsql/
.bundle/
*.swp
.sass-cache/
apache2/
erl_crash.dump
*.hprof
*.swo
ingestion
config/unicorn.rb
public/robots.txt
