config/database.yml
tmp/
var/
vendor/bundle/
logs/
public/assets/
pgsql/
.bundle/
*.swp
.sass-cache/
apache2/
erl_crash.dump
*.hprof
*.swo
ingestion
config/unicorn.rb
public/robots.txt
.*install_done
.bundle/config
db/*sqlite3

# rails config
config/*.local.yml
config/settings/*.local.yml
config/enviornments/*.local.yml