<h1>Compare#index</h1>

<div class="row-fluid">
  <div class="span6">                    
    <h3>Massaged Record</h3>
    <pre><%= @twisted %></pre>           
  </div>
  <div class="span6">                                                   
    <h3>Original Record</h3>
    <pre><%= @original %></pre>
  </div>
</div>

