<div class="<%= type %>_link <%= 'running' if report[:job] %>"><%= report_link(report[:file], report[:job], ingest_id, type) %> <small><%= report_details(report[:file], report[:job]) %></small></div>
