<!DOCTYPE html>
<html>
<head>
  <title>V2</title>
  <%= stylesheet_link_tag    "v1/application", :media => "all" %>
  <%= javascript_include_tag "v1/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
